/* Global styles - Most styles have been moved to modular CSS files in src/styles/ */

/* Material Icons font - Used for icons throughout the app */
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');
